.project
.idea/
.*.swp
.*.swo
._*
.DS_Store
.idea/
.svn/
*.orig
*.aps
*.APS
*.chm
*.exp
*.pdb
*.rar
*.mo
*.po
*.pot
.smbdelete*
*.sublime*
.sass-cache
/Debug/
/debug/
node_modules/*
node_modules
config.json
bin/start.sh